<div id="carouselExampleFade" class="carousel slide carousel-fade">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./../../assets/homescreen/angular-ar21.png" class="d-block w-100 img-fluid pics" alt="..." width="100%" height="400px">
      </div>
      <div class="carousel-item">
        <img src="./../../assets/homescreen/api.webp" class="d-block w-100 img-fluid pics" alt="..." width="100%" height="400px">
      </div>
      <div class="carousel-item">
        <img src="./../../assets/homescreen/stu.avif" class="d-block w-100 img-fluid pics" alt="..." width="100%" height="400px">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <div class="container mt-4 border border-bottom shadow-lg">

    <div class="row">


        <div class="col-sm-6">
            <h3 class="text-center">
                Angular Project
            </h3>

            <p class="text-center">
                A Basic Angulr Project ,containe the demo API service and CRUD Operation
                You Can download this project by clicking on this link <a href="https://github.com/incredible-India/Faculty-Angular" target="_blank">Download Project</a>
            </p>
        </div>
        <div class="col-sm-6">
            <h3 class="text-center">
                Basic Techonology
            </h3>

            <ul class="text-center">
                <li>HTML</li>
                <li>CSS</li>
                <li>javascript</li>
                <li>Typescript</li>
                <li>NODE.js</li>
              
            </ul>
        </div>



    </div>

<img src="./../../assets/homescreen/Happy student-pana.svg" class="img-fluid text-center" height="300px" style="height: 300px;">


  </div>