<div class="container mt-4">


    <div class="row">


        <div class="col-sm-6">


        <div class="container mt-3">
            <a class="btn shadow-lg mt-4" style="background-color: rgb(255,187,97); " routerLink="create">Add Student</a>
            <br>
            <a class="btn mt-4" style="background-color: rgb(255,187,97);" routerLink="list">Student List</a>

         
        </div>


        </div>






        <div class="col-sm-6 shadow-lg">

            <img src="./../../../../assets/student/Teacher student-rafiki.svg" class="img-fluid">

        </div>



    </div>

    
</div>
